@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&display=swap');

body {
    margin: 0;
    height: auto;
    width: auto;
}

.textFont {
    font-family: Poppins;
}

.textFont2 {
    font-family: 'IBM Plex Mono';
}

.mainContainer {
    display:flex;
    flex-direction: row;
    background-color: #EAEAEA;
    margin: 0;
    height: 140vh;
    width: 100%;
}

/*FOR SIDE BAR COMPONENT*/
    #sideBarComponent {
        background-color: white;
        height: 100vh;
        max-height: 100vh;
        width: 16%;
        border-top-left-radius: 0px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 0px;
    /*for sticking the sidebar while scrolling*/
        position:sticky;
        top: 0;
        box-shadow: 10px 5px 30px rgb(0, 0, 0, 0.2);
    }

    /*FOR HOTEL NAME AND LOGO*/
    #hotelIconAndName {
        display: flex;
        align-items: center;
        width: 100%;
        height: 22vh;
    }

    #hotelNameLbl {
        font-family:Poppins;
        font-size: 3vh;
        max-height: 3vh;
        margin: 0vh 0vw 0vh 1vw;
    }

    #hotelLogo {
        height: 8vh;
        width: 4vw;
        margin: 0vh 0vw 0vh 2vw;
    }

    /*FOR SERVICES BUTTONS IN SIDE BAR*/
    #servicesSelection {
        height: 45vh;
        max-height:50vh;
        width: 100%;
        max-width:100%;
        margin: 2vh 0vw 0vh 0vw;
    }

    .servicesButtons {
        height: 10vh;
        max-height: 10vh;
        width: 100%;
        max-width: 100%;
        font-size: 2.5vh;
        text-align: left;
        padding-left: 4vw;
        cursor: pointer;
        margin: 1vh 0vw 0vh 0vw;
        border: 0px;
    }

    #dashboardBtn {
        background-color: #EAEAEA;
        background-image: url('Gallery/Food And Room Services Elements/Icons/compass.png');
        background-size: 2vw 5vh;
        background-repeat: no-repeat;
        background-position: 10px center;
        color: blue;
    }
        #dashboardBtn:hover {
            background-color: #EAEAEA;
            color: blue;
        }
    #serviceRequestBtn {
        background-color: transparent;
        background-image: url('Gallery/Food And Room Services Elements/Icons/tool.png');
        background-size: 2vw 5vh;
        background-repeat: no-repeat;
        background-position: 10px center;
        color: black;
    }
        #serviceRequestBtn:hover {
            background-color: #EAEAEA;
            color: blue;
        }
    #inventoryBtn {
        background-color: transparent;
        background-image: url('Gallery/Food And Room Services Elements/Icons/inventory.png');
        background-size: 2vw 5vh;
        background-repeat: no-repeat;
        background-position: 10px center;
        color: black;
    }
        #inventoryBtn:hover {
            background-color: #EAEAEA;
            color: blue;
        }
    #maintenanceRequestBtn {
        background-image: url('Gallery/Food And Room Services Elements/Icons/tool.png');
        background-size: 2vw 5vh;
        background-repeat: no-repeat;
        background-position: 10px center;
        color: black;
    }
        #maintenanceRequestBtn:hover {
            background-color: #EAEAEA;
            color: blue;
        }

    /*FOR FOOTER OF SIDE BAR*/
    #adminInfoContainer {
        display:flex;
        align-items: center;
        margin: 11vh 0vw 0vh 0vw;
        height: 15vh;
        max-height: 30vh;
        width: 100%;
        max-width: 100%;
    }

    #adminIcon {
        height: 9vh;
        max-height:9vh;
        width: 25%;
        max-width: 25%;
        margin: 0vh 0vw 0vh 0vw;
    }

    #adminInfoContainer2 {
        height: 9vh;
        max-height:9vh;
        width: 100%;
        margin: 2vh 0vw 0vh 0.5vw;
    }

    #adminName {
        margin: 1vh 0vw 0vh 0vw;
        text-align:center;
        font-size: 3vh;
        max-height:3vh;
    }

    #adminPosition {
        display:block;
        margin: 1vh 0vw 0vh 1vw;
        font-size: 2vh;
        max-height: 2vh;
        color: gray;
    }

    #signOutBtn {
        float:right;
        margin: 0vh 0vw 0vh 0vw;
        height: 5vh;
        width: 15%;
        border: 0;
        background-color: transparent;
        background-image: url('Gallery/Food And Room Services Elements/Icons/logout.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }


    
    /*FOR CONFIRMATION OF SIGN OUT CSS*/
     
    .overlay {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    .confirmSignOutPanel {
        background-color: white;
        height: 40%;
        width: 30%;
        display: flex;
        flex-direction: column;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        position: fixed;
        z-index: 2;
    }

    #confirmSignOutLbl {
        height: 20%;
        width: auto;
        display: flex;
        align-items: center;
        padding-left: 2vw;
        font-size: 3.5vh;
        font-weight: bold;
        border-bottom: 1px solid #EAEAEA;
        box-shadow: 0px 10px 30px rgba(49, 38, 38, 0.3);
    }

    #signOutQuestionLbl {
        height: 50%;
        width: auto;
        display: flex;
        align-items: center;
        padding-left: 2vw;
        font-size: 3vh;
        font-weight: bold;
    }

    #buttonSelection {
        height: 30%;
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        box-shadow: 0px -10px 30px rgba(49, 38, 38, 0.3);
    }

    #okBtn {
        background-color: #101450;
        color: white;
        height: 50%;
        width: 25%;
        border: 1px solid black;
        border-radius: 10px;
        cursor: pointer;
        margin: 0vh 2vw 0vh 2vw;
    }

    #cancelBtn {
        background-color: white;
        color: black;
        height: 50%;
        width: 25%;
        border: 1px solid black;
        border-radius: 10px;
        cursor: pointer;
        margin: 0vh 2vw 0vh 0vw;
    }

    #okBtn:hover {
        color: blue;
    }

    #cancelBtn:hover {
        color: blue;
    }


/* DASHBOARD PANEL */
    
    /*FOR STAFF STATUS*/

    #dashboardPanel {
        background: linear-gradient(to bottom, #F1F2F3, #8CA5AD);
        margin: 0;
        height: 140vh;
        overflow-y: auto;
        scrollbar-width: none;
        width: 84%;
    }

    #overviewLbl {
        display: block;
        margin: 10vh 0vw 0vh 7vw;
        font-family: Poppins;
        font-weight:bold;
        font-size: 6vh;
    }
    .lineDesign {
        float: right;
        background-color: black;
        margin: 2vh 2vw 0vh 0vw;
        min-width: 90%;
        max-width: 90%;
        min-height: 1px;
        max-height:1px;
    }

    #staffStatusContainer {
        display: flex;
        flex-direction:row;
        float: right;
        margin: 5vh 2vw 0vh 0vw;
        min-width: 90%;
        max-width: 90%;
        min-height: 20%;
        max-height: 20%;
    }

    .staffStatus {
        background-color: white;
        margin: 0vh 1vw 0vh 1vw;
        height: auto;
        width: 30%;
        border-radius: 10px;
        box-shadow: 0px 10px 0px rgb(0, 0, 0, 0.1);
    }

    .staffIcon {
        display: block;
        float: right;
        margin: 2vh 2vw 0vh 0vw;
        min-height: 5vh;
        max-height: 5vh;
        min-width: 2vw;
        max-width: 2vw;
    }

    #totalStaffLbl {
        float: left;
        font-family: Poppins;
        font-size: 3vh;
        margin: 2.5vh 0vw 0vh 2vw;
    }

    #totalStaffCount {
        display:block;
        font-family:Arial;
        font-size: 5vh;
        font-weight:bold;
        margin: 10vh 0vw 0vh 2vw;
    }

    #availabilityStaffLbl {
        float: left;
        font-family: Poppins;
        font-size: 3vh;
        margin: 2.5vh 0vw 0vh 2vw;
    }

    #availableStaffCount {
        display: block;
        font-family: Arial;
        font-size: 5vh;
        font-weight: bold;
        margin: 10vh 0vw 0vh 2vw;
    }
    #occupiedStaffLbl {
        float: left;
        font-family: Poppins;
        font-size: 3vh;
        margin: 2.5vh 0vw 0vh 2vw;
    }

    #occupiedStaffCount {
        display: block;
        font-family: Arial;
        font-size: 5vh;
        font-weight: bold;
        margin: 10vh 0vw 0vh 2vw;
    }

    /*FOR STAFF DETAILS*/
    #staffDetails {
        display: flex;
        align-items: center;
        float: right;
        background-color: white;
        min-height: 10%;
        max-height: 10%;
        min-width: 85%;
        max-width: 85%;
        margin: 15vh 5vw 4vh 0vw;
        border-radius: 10px;
        box-shadow: 0px 7px 0px rgb(0, 0, 0, 0.1);
    }

    .employeeNameLbl {
        font-family: Poppins;
        font-size: 3vh;
        margin: 0vh 18vw 0vh 2vw;
    }

    .scheduleLbl {
        font-family: Poppins;
        font-size: 3vh;
        margin: 0vh 20vw 0vh 2vw;
    }

    .statusLbl{
        font-family: Poppins;
        font-size: 3vh;
        margin: 0vh 0vw 0vh 3vw;
    }

    #employeeNameLbl {
        font-weight: bold;
        color: grey;
    }

    #scheduleLbl {
        font-weight: bold;
        color: grey;
    }

    #statusLbl {
        font-weight: bold;
        color: grey;
    }

    /*FOR STAFF INFORMATION AND STATUS GRID TABLE*/
    .employeesTable {
        display: flex;
        align-items: center;
        float: right;
        background-color: white;
        min-height: 15vh;
        max-height: 15vh;
        min-width: 85%;
        max-width: 85%;
        margin: 1vh 5vw 0vh 0vw;
        border-radius: 10px;
        box-shadow: 0px 7px 0px rgb(0, 0, 0, 0.1);
    }

    #employeeNameLayout {
        height: 100%;
        width: 30%;
        font-family: Poppins;
        font-size: 3vh;
        margin: 0vh 7vw 0vh 2vw;
    }

    #scheduleLayout {
        width: 15%;
        font-family: Poppins;
        font-size: 3vh;
        margin: 0vh 17vw 0vh 2vw;
    }

    #statusLayout {
        width: 10%;
        font-family: Poppins;
        font-size: 3vh;
        margin: 0vh 0vw 0vh 2vw;
    }

    /*REFRESH BUTTON*/
    #refreshBtn {
        background-color: #101450;
        color: white;
        border: 1px solid white;
        font-family: Poppins;
        cursor: pointer;
        height: 4%;
        width: 10%;
        float: right;
        border: 1px solid black;
        border-radius: 10px;
        margin: 10vh 5vw 0vh auto;
    }

        #refreshBtn:hover {
            color: blue;
        }

/*SERVICE REQUEST PANEL*/

    #serviceRequestPanel {
        background: linear-gradient(to bottom, #F1F2F3, #8CA5AD);
        margin: 0;
        height: 140vh;
        overflow-y: auto;
        scrollbar-width: none;
        width: 84%;
    }

    #taskBoardLbl {
        display: block;
        margin: 10vh 0vw 0vh 7vw;
        font-family: Poppins;
        font-weight: bold;
        font-size: 6vh;
    }

    #taskBoardStatusLayout {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 5vh;
        width: 97%;
        margin: 3vh 0vw 0vh auto;
     
    }

    .taskStatusButtons {
        background-color: transparent;
        font-weight:bold;
        font-size: 3vh;
        font-family: Poppins;
        cursor:pointer;
        border: 0;
        margin: 0vh 0vw 0vh 4vw;
    }
    .taskStatusButtons:hover {
        color: grey;
    }

    .taskStatusCount {
        font-family:Arial;
        font-size: 2vh;
        margin: 0vh 0vw 0vh 1vw;
        color:grey;
    }

/*SERVICE REQUEST PANEL*/

    /*UNDER FOOD SERVICE*/
    #foodServiceRequestPanel {
        height: 65%;
        width: 90%;
        margin: 4vh 0vw 0vh 5vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow-y: auto;
    }

    .foodRequestTable {
        background-color: white;
        height: 45%;
        width: 45%;
        margin: 3vh 0vw 0vh 2vw;
        border: 0;
        border-radius: 10px;
        background-color: white;
        box-shadow: 0px 10px 30px rgb(6, 0, 0, 0.3);
    }

    .foodRequestTableText {
        font-size: 2.5vh;
        font-weight: bold;
    }

    .foodRequestTableContent {
        height: 10%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .foodRequestTableContent2 {
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .foodRequestTableContent3 {
        height: 15%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-top: 1px solid black;
    }

    #foodRequestTableContent1 {
        margin: 1vh 0vw 0vh 0vw;
    }

    #foodOrderIdLbl {
        margin: 0vh 0vw 0vh 1vw;
    }

    #foodRoomNumLbl {
        margin: 0vh 2vw 0vh auto;
    }

    #foodGuestNameLbl {
        margin: 0vh 0vw 0vh 1vw;
    }

    #foodItemNameLbl {
        font-size: 5vh;
        margin: 2vh 0vw 0vh 1vw;
    }

    #foodPriceLbl {
        font-size: 2.5vh;
        margin: 1vh 0vw 0vh 1vw;
    }

    #foodTotalPriceLbl {
        font-size: 2.5vh;
        margin: 0vh 0vw 0vh 1vw;
    }

    #foodAssignedStaffLbl {
        font-size: 2vh;
        margin: 0vh 0vw 0vh 1vw;
    }

    #foodRequestStatusLbl {
        font-size: 2vh;
        margin: 0vh 2vw 0vh auto;
    }

    #foodRequestDateLbl {
        margin: 0vh 0vw 0vh 1vw;
    }

/*MAINTENANCE REQUEST PANEL*/
    #maintenanceRequestPanel {
        background: linear-gradient(to bottom, #F1F2F3, #8CA5AD);
        margin: 0;
        height: 140vh;
        overflow-y: auto;
        scrollbar-width: none;
        width: 84%;
    }

    #maintenanceRequestLbl {
        display: block;
        margin: 10vh 0vw 0vh 7vw;
        font-family: Poppins;
        font-weight: bold;
        font-size: 6vh;
    }

    #maintenanceRequestContainer {
        height: 75%;
        width: 90%;
        margin: 4vh 2vw 0vh auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow-y: auto;
    }

    .requestTable {
        height: 45%;
        width: 45%;
        margin: 3vh 0vw 0vh 2vw;
        border: 0;
        border-radius: 10px;
        background-color: white;
        box-shadow: 0px 10px 30px rgb(6, 0, 0, 0.3);
    }

    .requestTableText {
        font-size: 2.5vh;
        font-weight: bold;
    }

    .requestTableContent {
        height: 10%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .requestTableContent2 {
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .requestTableContent3 {
        height: 15%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-top: 1px solid black;
    }

    #requestTableContent1 {
        margin: 2vh 0vw 0vh 0vw;
    }

    #taskIdLbl {
        margin: 0vh 0vw 0vh 1vw;
    }

    #roomNumLbl {
        margin: 0vh 2vw 0vh auto;
    }

    #guestNameLbl {
        margin: 0vh 0vw 0vh 1vw;
    }

    #issueTitleLbl {
        font-size: 5vh;
        margin: 2vh 0vw 0vh 1vw;
    }

    #issueTitleDescription {
        height: 50%;
        width: 90%;
        font-size: 2vh;
        margin: 1vh 0vw 0vw 1vw;
        word-break: break-word;
        overflow-y: auto;
    }

    #assignedStaffLbl {
        font-size: 2vh;
        margin: 0vh 0vw 0vh 1vw;
    }

    .assignBtn {
        background-color: #28A745;
        height: 5%;
        width: 10%;
        font-size: 2vh;
        font-weight: bold;
        float: right;
        margin: 0vh 2vw 1vh auto;
        border: 1px solid black;
        border-radius: 10px;
        cursor: pointer;
    }

    .assignBtn:hover {
        color: blue;
    }

    #requestDateLbl {
        margin: 0vh 0vw 0vh 1vw;
    }

    /*FOR ASSIGN STAFF IN MAINTENANCE REQUEST*/
    #assignStaffPanel {
        background-color: white;
        display: flex;
        flex-direction:column;
        height: 40%;
        width: 30%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    .assignStaffContent {
        display: flex;
        flex-direction: column;
        height: 30%;
        width: auto;
        margin: 0vh 0vw 1vh 0vw;
    }

    #taskIdText {
        font-size: 3vh;
        font-weight: bold;
        margin: 2vh 0vw 0vh 2vw;
    }

    #taskIdTxtBox {
        height: 30%;
        width: 80%;
        margin: 1vh 0vw 0vh 2vw;
        font-family: Poppins;

    }

    #employeeNameText {
        font-size: 3vh;
        font-weight: bold;
        margin: 2vh 0vw 0vh 2vw;
    }

    #employeeNameTxtBox {
        height: 30%;
        width: 80%;
        margin: 1vh 0vw 0vh 2vw;
        font-family: Poppins;
    }

    .assignStaffBtnLayout {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 30%;
        width: auto;
        margin: 0vh 0vw 1vh 0vw;
    }

    #assignEmployeeBtn {
        background-color: #101450;
        color: white;
        height: 50%;
        width: 25%;
        border: 1px solid black;
        border-radius: 10px;
        margin: 0vh 1vw 0vh 0vw;
        cursor: pointer;
    }
    #assignEmployeeBtn:hover {
        color: blue;
    }

    #cancelAssignEmployeeBtn {
        background-color: white;
        color: black;
        height: 50%;
        width: 25%;
        border: 1px solid black;
        border-radius: 10px;
        margin: 0vh 1vw 0vh 0vw;
        cursor: pointer;
    }

    #cancelAssignEmployeeBtn:hover {
        color: blue;
    }