@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


body {
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
    background-color: #EDF0F2;
}


.mainContainer {
    background-image: url('gallery/food and room services elements/images/pexels-iram-shehzad-45081404-27945635.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 120vh;
    max-height: 120vh;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
}

    .mainContainer:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        min-height: 120vh;
        max-height: 120vh;
        width: 100%;
        background-color: rgba(0,0,0,0.7);
        z-index: 1;
    }

/*FOR LOGIN CONTENT*/
    #loginContent {
        background-color: white;
        min-height: 80%;
        max-height: 80%;
        width: 35%;
        float: right;
        margin: 10vh 5vw 10vh auto;
        box-shadow: 0px 0px 30px rgb(0, 0, 0, 0.9);
        z-index: 2;
    }

    #barColor {
        margin:0;
        height: 3%;
        background-color: #005FC7;
        width: 100%;
        box-shadow: 1px 10px 30px rgb(0 0 0, 0.3);
    }

    #loginLbl {
        display: block;
        font-family: Poppins;
        font-size: 4vh;
        font-weight: bold;
        margin: 5vh 0vw 0vh 2vw;
    }

    #loginInfo {
        display: block;
        margin: 0vh 0vw 0vh 2vw;
        font-family: Poppins;
        font-size: 2.5vh;
        color: gray;
    }

    #emailLbl {
        font-family: Poppins;
        font-size: 2.5vh;
        display: block;
        margin: 4vh 0vw 0vh 2vw;
    }

    #emailErrorLbl {
        font-size: 2vh;
        font-family: Poppins;
        margin: 0vh 0vw 0vh 2vw;
        color: red;
        font-size: 1vw;
    }

    #emailTxtBox {
        font-family: Poppins;
        display: block;
        background-color: #EDF0F2;
        margin: 0vh 0vw 0vh 2vw;
        height: 6%;
        width: 85%;
        padding-left: 1vw;
        border: 0.5px solid black;
        border-radius: 5px;
    }

    #passwordLbl {
        font-family: Poppins;
        font-size: 2.5vh;
        display: block;
        margin: 4vh 0vw 0vh 2vw;
    }

    #passwordErrorLbl {
        font-family: Poppins;
        font-size: 2vh;
        margin: 0vh 0vw 0vh 2vw;
        color: red;
        font-size: 1vw;
    }

    #passwordTxtBox {
        font-family: Poppins;
        display: block;
        background-color: #EDF0F2;
        margin: 0vh 0vw 0vh 2vw;
        height: 6%;
        width: 85%;
        padding-left: 1vw;
        border: 0.5px solid black;
        border-radius: 5px;
    }

    #userNotFoundLbl {
        font-family: Poppins;
        display: block;
        margin: 2vh 0vw 2vh 2vw;
        font-size: 2vh;
        color: red;
    }
    #guestLogin {
        font-family: Poppins;
        margin: 4vh 0vw 0vh 20vw;
        border: 0px;
        background-color: transparent;
        cursor: pointer;
    }

        #guestLogin:hover {
            color: blue;
        }

    #loginBtn {
        font-family: Poppins;
        background-color: #101540;
        color: white;
        display: block;
        margin: 0vh 0vw 0vh 2vw;
        height: 9%;
        width: 88%;
        border: 0.5px solid black;
        border-radius: 10px;
        cursor: pointer;
    }

    #loginBtn:hover {
        color:blue;
    }

/*FOR HOTEL LOGO AND NAME*/
    #hotelLogoContainer {
        min-height: 80%;
        max-height:80%;
        width: 65%;
        float: left;
        margin: 10vh auto 10vh 5vw;
        display:flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        z-index: 2;
    }

    #hotelLogo {
        height: 30%;
        width: 22%;
    }

    #hotelNameAndDescriptionLayout {
        height: 30%;
        width: 50%;
        margin: 0vh 0vw 0vh 2vw;
        display: flex;
        flex-direction: column;
    }

    #hotelName {
        margin: 0vh 0vw 0vh 0vw;
        font-family: Poppins;
        font-style: italic;
        font-size: 10vh;
        font-weight: bolder;
        color: #005FC7;
    }

    #hotelNameDescription {
        font-family: Poppins;
        color: white;
    }