@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
}

.textFont /*FOR TEXT FONT OF PAGE*/ {
    font-family: Poppins;
}

header{
    background-color: #101450;
    color: white;
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
}

/*FOR HEADER CONTENT*/
    #dashBoardBtn {
        background-color: transparent;
        color: white;
        border: 0;
        margin: 0vh 0vw 0vh 3vw;
        font-size: 3vh;
        cursor: pointer;
    }
        #dashBoardBtn:hover {
            color: blue;

        }

    #hotelLogo {
        height: 100%;
        width: 7%;
        margin: 0vh 0vw 0vh 22vw;
    }

    #hotelName {
        margin: 0;
        font-size: 3vh;
        font-weight: bold;
    }

    #searchBar {
        height: 30%;
        width: 20%;
        margin: 0vh 0vw 0vh 7vw;
    }

    #searchBtn {
        background-color: transparent;
        background-image: url('gallery/food and room services elements/icons/navbar/white_search.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        border: 0;
        height: 25%;
        width: 3%;
        margin: 0vh 2vw 0vh 0vw;
        cursor: pointer;
    }

    #shoppingCartBtn {
        background-color: transparent;
        background-image: url('gallery/food and room services elements/icons/navbar/white_grocery-store.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        border: 0;
        height: 45%;
        width: 3%;
        float: right;
        margin: 0vh 2vw 0vh auto;
        cursor: pointer;
    }

/*FOR MAIN CONTENT*/
    #mainContainer {
        height: 100vh;
        width: 100%;
        background: linear-gradient(to bottom, white, #8CA5AD);
        overflow-y: auto;
    }

    #headerContent {
        height: 15%;
        width: 100%;
        display: flex;
        align-items: center;
        color: #101450;
    }

    #allMenuLbl {
        font-size: 5vh;
        font-weight: bolder;
        margin: 0vh 0vw 0vh 4vw;
    }

    #foodAndDrinksLbl {
        font-size: 5vh;
        font-weight: bolder;
        margin: 0vh 4vw 0vh auto;
    }

    #foodAndBeverageList {
        height: 85%;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

/*FOR ASP LITERAL AUTO INCREMENT ITEM DESIGN*/
    .foodOrBeverageContainer {
        margin: 4vh 0vw 0vh 2vw;
        background-color: white;
        height: 60%;
        width: 17%;
        border: 0px;
        border-radius: 10px;
    }

    .foodImagesLayout{
        height: 45%;
        width: 50%;
        margin: 2vh 0vw 0vh 4vw;
    }

    .foodBeverageContent{
        height: 10%;
        width: 100%;
        margin: 1vh 0vw 0vh 0vw;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .priceContainer{
        height: 100%;
        width: 30%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0vh 0vw 0vh auto;
    }

    .foodOrBeverageLbl {
        font-size: 2.5vh;
        margin: 0vh 0vw 0vh 1vw;
    }

    .currencyPrice {
        margin:0;
    }

    .price {
        margin: 0vh 0vw 0vh 1vw;
    }

    .foodBeverageContent2 {
        background-color: #EDF0F2;
        height: 20%;
        width: 85%;
        margin: 1vh 0vw 2vh 1vw;
        overflow-y: auto;
    }

    .description {
        width: 100%;
        font-size: 2vh;
        margin: 0vh 0vw 0vh 0vw;
        word-break: break-word;
    }

    .btnContainer {
        height: 7%;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .btnContainer2 {
        height: 100%;
        width: 40%;
        margin: 0vh 0vw 0vh auto;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .addToCart {
        background-color: transparent;
        background-image: url('gallery/food and room services elements/icons/navbar/grocery-store.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        border: 0;
        height: 100%;
        width: 20%;
        cursor: pointer;
    }

    .quantityTxtBox {
        background-color: #EDF0F2;
        height: 100%;
        width: 30%;
        text-align: center;
        border: 1px solid black;
        cursor: default;
        margin: 0vh 1px 0vh 1px;
    }

    .btnDecrease {
        background-color: transparent;
        border: 0;
        cursor: pointer;
    }

    .btnIncrease {
        background-color: transparent;
        border: 0;
        cursor: pointer;
    }

/*FOR FOOTER CONTENT*/
    footer {
        background-color: #101450;
        height: 17vh;
        width: 100%;
        display: flex;
        align-items: center;
        color: white;
    }

    #hotelNameFooter {
        font-size: 4vh;
        font-weight: bold;
        margin: 0vh 0vw 0vh 4vw;
    }