@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    margin:0;
    padding:0;
    height: auto;
    width: auto;
    background: linear-gradient(to bottom, white, grey, #101540 );
}

/*For header contents*/
    #header {
        margin: 0;
        height: 17vh;
        width: 100%;
        background-color: white;
        display:flex;
        align-items: center;
        box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.5);
    }

    #hotelLogo {
        height: 100%;
        width: 8%;
        margin-left: 3vw;
    }

    #logoLbl {
        margin-left: 1vw;
        font-family: Poppins;
        font-size: 4vh;
        font-weight:bold;
    }

    .headBtnLayout {
        height: 100%;
        width: 30%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 0vh 0vw 0vh 15vw;
    }

    .headBtn {
        height: 40%;
        width: 35%;
        margin: 0vh 2vw 0vh 0vw;
        cursor: pointer;
        text-align: right;
        padding-right: 1vw;
        font-family: Poppins;
        font-size: 3vh;

    }

    #homeBtn {
        background-color: #101450;
        background-image: url('gallery/food and room services elements/icons/navbar/white_home.png');
        background-size: contain;
        background-position: left 10px top;
        background-repeat: no-repeat;
        border: 1px solid black;
        border-radius: 10px;
        color: white;
    }

    #historyBtn {
        background-color: transparent;
        background-image: url('gallery/food and room services elements/icons/navbar/history.png');
        background-size: contain;
        background-position: left 5px center;
        background-repeat: no-repeat;
        border: 0;
        border-radius: 10px;
        color: #101450;
    }

        #historyBtn:hover {
            background-color: #101450;
            background-image: url('gallery/food and room services elements/icons/navbar/white_history.png');
            background-size: contain;
            background-position: left 5px top;
            background-repeat: no-repeat;
            border: 1px solid black;
            color: white;
            transition: 0.3s ease-in;
        }


    #userLbl {
        font-family: Poppins;
        margin: 0vh 4vw 0vh auto;
        font-size: 6vh;
    }

/*For Main Container */
    .contentContainer {
        margin: 0;
        height: 120vh;
        width: 100%;
        display: grid;
        justify-content: center;
    }

    #guestDetailsContainer {
        margin: 10vh auto 0vh auto;
        height: 40vh;
        width: 90%;
        background-color: white;
        border-radius: 10px;
        box-shadow: 5px 5px 30px rgb(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
    }

    /*For sub container 1 of guest*/
        #guestDetailsSubContainer1 {
            height: 100%;
            width: 50vw;
        }

        #stayInfoLbl {
            display: block;
            margin: 5vh 0vw 0vh 5vw;
            font-size: 3vh;
            font-family: Poppins;
            color: #101540;
        }

        .stayInfoList {
            display: block;
            margin: 1vh 0vw 0vh 5vw;
            font-family: Poppins;
            color: #101540;
        }
    /*For sub container 2 of guest */
        #guestDetailsSubContainer2 {
            height: 100%;
            width: 50vw;
        }
        #roomInfoLbl {
            display: block;
            margin: 5vh 0vw 0vh 5vw;
            font-size: 3vh;
            font-family: Poppins;
            color: #101540;
        }
        .roomInfoList {
            display: block;
            margin: 1vh 0vw 0vh 5vw;
            font-family: Poppins;
            color: #101540;
        }
        #amenitiesLbl {
            font-family: Poppins;
            word-wrap: break-word;
        }

/*For services button*/

    #servicesBtnContainer {
        display: flex;  
        flex-direction: row;
        justify-content: center;
        margin: 4vh auto 1vh auto;
        height: 35vh;
        width: 90%;
        border-radius: 10px;
    }

    .serviceContainer {
        background-color: white;
        height: 100%;
        width: 30%;
        margin: 0vh 5vw 0vh 0vw;
        display: flex;
        flex-direction: column;
        border: 0px;
        border-radius: 5px;
        color: #101450;
        font-family: Poppins;
        cursor: pointer;
    }

    .serviceContainer:hover {
        background: linear-gradient(to bottom, white, #101450);
        transition: 0.3s ease-in;
        color: white;
    }

    .serviceContainer2 {
        height: 25%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .servicesLogo {
        margin: 2vh 0vw 0vh 1vw;
        height: 40%;
        width: 30%;
    }

    .servicesLbl {
        font-size: 4vh;
        font-weight: bolder;
        margin: 2vh 0vw 0vh 2vw;
    }

    .servicesDescriptionLbl {
        font-size: 2vh;
        height: 100%;
        width: 50%;
        margin: 1vh 0vw 0vh 2vw;
        word-wrap: break-word;
    }

    .servicesBtnLayout {
        background-color: transparent;
        background-image: url('gallery/food and room services elements/icons/room services icon/next.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        border: 0;
        height: 80%;
        width: 15%;
        margin: 0vh 1vw 0vh auto;
        cursor: pointer;
    }

    #mainteReqContainer {
        margin: 0vh 0vw 0vh 0vw;
    }


/*For Log Out Button*/
#logoutBtn {
    background-color: #101540;
    float: right;
    margin: 3vh 5vw 1vh auto;
    height: 5vh;
    width: 15vw;
    border: 1px solid white;
    border-radius: 50px;
    cursor: pointer;
    color: white;
    font-family: Poppins;
}

#logoutBtn:hover {
    color: skyblue;
}

/*FOR FOOD SERVICE PLATFORM*/

    #foodServicePlatformLayout {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #foodServiceSelectionLayout {
        margin: 7vh 0vw 0vh 0vw;
        height: 70%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .foodServiceSelected {
        background: linear-gradient(to bottom, #F1F2F3, #8CA5AD);
        height: 100%;
        width: 30%;
        margin: 0vh 1vw 0vh 0vw;
        border: 1px solid #8CA5AD;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .foodServiceSelected:hover {
            background: linear-gradient(to top, #101450, white);
            transition: 0.3s ease;
            box-shadow: 10px 15px 30px rgb(3, 0, 0, 0.5);
        }

    .foodServiceIcon {
        margin: 2vh 0vw 2vh 0vw;
        border: 0;
        border-radius: 10px;
        height: 60%;
        width: 80%;
    }

    .orderBtn {
        background-color: #101450;
        color: white;
        height: 10%;
        width: 60%;
        border: 0;
        border-radius: 50px;
        margin: 6vh 0vw 0vh 0vw;
        cursor: pointer;
    }

    .orderBtn:hover {
        color: blue;
    }



/*FOR MAINTENANCE REQUEST FORM*/

    .overlay {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    .form-container {
        background: linear-gradient(to bottom, #F1F2F3, #8CA5AD);
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 90vh;
        width: 80%;
        border-radius: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
        z-index: 2;
        font-family: Poppins;
    }

    #formSubContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 15%;
        width: 100%;
    }

    #mainteRequestFormLbl {
        font-size: 4vh;
        margin: 2vh 0vw 0vh 2vw;
    }

    .closeBtn {
        float: right;
        margin: 2vh 2vw 0vh auto;
        font-size: 20px;
        background: none;
        border: none;
        cursor: pointer;
    }

    #formSubContainer2 {
        display: flex;
        flex-direction: row;
        margin: 1vh 0vw 0vh 0vw;
        width: 100%;
        height: 15%;
    }

    #roomNumberContainer {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 50%;
    }

    #guestNameContainer {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 50%;
    }

    .textContent {
        font-size: 2vh;
        margin: 2vh 0vh 0vw 2vw;
    }

    .txtBoxContent {
        height: 40%;
        width: 70%;
        margin: 2vh 0vw 0vh 2vw;
        border-radius: 8px;
        border: 1px solid black;
    }

    #issueTitleContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 15%;
    }

    #issueDescriptionTxtBox {
        margin: 4vh 0vw 0vh 2vw;
        height: 35%;
        width: 94%;
        border-radius: 8px;
        border: 1px solid black;
        resize: none;
    }

    #submitBtn {
        background-color: #101450;
        color: white;
        float: right;
        margin: 3vh 2vw 0vh auto;
        height: 7%;
        width: 10%;
        border: 0px;
        border-radius: 10px;
        cursor: pointer;
    }

